.footer {
    height: 100%;
    padding: 0;
    margin: 0;
    background: dimgrey;
    .copyright {
        text-align: center;
        padding: 10px 0;
        font-size: 4rem;
        p {
            line-height: 20px;
        }
    }
}